<div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/ace.min.js"></script>
    <script src="js/common/vue.min.js"></script>
    <script src="js/common/axios.js"></script>
    <script src="js/common/vue-pagination.js"></script>
    <script src="js/common/vue-router.min.js"></script>
    <script src="js/common/vue-select.js"></script>
    <script src="js/common/vue2-datepicker.min.js"></script>
    <script src="js/common/v-money.min.js"></script>
    <script src="js/common/loadingoverlay.js"></script>
    <script src="js/common/vue-simple-spinner.min.js"></script>
    <script src="js/common/footer.js"></script>
</div>