<div class="navbar-container ace-save-state" id="navbar-container">
    <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
        <span class="sr-only">Toggle sidebar</span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>

        <span class="icon-bar"></span>
    </button>

    <div class="navbar-header pull-left">
        <a href="/vms-home" class="navbar-brand">
            <small><i class="fa fa-bar-chart"></i>&nbsp;SBDEMO</small>
        </a>
    </div>

    <div class="navbar-buttons navbar-header pull-right" role="navigation">
        <ul class="nav ace-nav">
            <li class="light-blue dropdown-modal" style="float: right !important">
                <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                    <img class="nav-user-photo" src="assets/images/user.png" alt="user avatar" />
                    <span id="userInfo" class="user-info">
                        <small v-html="authName" style="margin-top: 7px;"></small>
                    </span>
                    <i class="ace-icon fa fa-caret-down"></i>
                </a>

                <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                    <!-- <li>
                        <a href="#" data-toggle="modal" data-target="#myModal">
                            <i class="ace-icon fa fa-cog"> Đổi mật khẩu</i>
                        </a>
                    </li> -->
                    <li>
                        <a href="/logout">
                            <i class="ace-icon fa fa-power-off"> Thoát</i>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>