<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>Xuất, nhập, tồn</title>
    <meta name="description" content="Static &amp; Dynamic Tables" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
</head>

<body class="no-skin">
    <div id="navbar" class="navbar navbar-default ace-save-state">
        <th:block th:include="/header"></th:block>
    </div>

    <div class="main-container ace-save-state" id="main-container">
        <div id="sidebar" class="sidebar responsive ace-save-state">
            <th:block th:include="/menu"></th:block>
        </div>

        <div class="main-content" id="vue_main">
            <div class="main-content-inner">
                <div class="page-content">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Mặt hàng</label>
                                <v-select :options="matHangs" :reduce="x => x.value" label="text" v-model="ma" />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Từ ngày</label>
                                <date-picker v-model="fromDate" format="DD-MM-YYYY" value-type="YYYY-MM-DD"
                                    style="width: 100%; display: block; " />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Tới ngày</label>
                                <date-picker v-model="toDate" format="DD-MM-YYYY" value-type="YYYY-MM-DD"
                                    style="width: 100%; display: block; " />
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label>&nbsp;</label>
                                <div>
                                    <button class="btn btn-primary" v-on:click="getData(1)">
                                        <i class="ace-icon fa fa-bar-chart"></i>
                                        <span>Báo cáo</span>
                                    </button>
                                    <!-- <button class="btn btn-danger" v-on:click="saveItem()">
                                        <i class="ace-icon fa fa-plus"></i>
                                    </button> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>Mã MH</th>
                                                <th>Tên mặt hàng</th>
                                                <th>Tồn đầu kì</th>
                                                <th>Nhập trong kì</th>
                                                <th>Xuất trong kì</th>
                                                <th>Tồn cuối kì</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(item, index) in xuatNhapTons">
                                                <td>{{ item.ma }}</td>
                                                <td>{{ item.ten }}</td>
                                                <td>
                                                    <input class="form-control" v-model="item.tonDau" />
                                                </td>
                                                <td>{{ item.tongNhap }}</td>
                                                <td>{{ item.tongXuat }}</td>
                                                <td>{{ item.tonCuoi }}</td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <button class="btn btn-danger" v-on:click="saveItem()">
                                                        <i class="ace-icon fa fa-save"></i>
                                                        <span>Cập nhật</span>
                                                    </button>
                                                </td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-right">
                                        <paginate v-if="result.totalPages > 1" :page="result.page"
                                            :page-count="result.totalPages" :page-range="3" :margin-pages="2"
                                            :click-handler="p => getData(p)" :prev-text="'Trước'" :next-text="'Sau'"
                                            :container-class="'pagination'" :page-class="'page-item'">
                                        </paginate>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <th:block th:include="/footer"></th:block>
    <script src="jspage/xuatnhapton.js"></script>
</body>

</html>